{% extends "blogposts/main.html" %}

{% block content %}


    {% for post in posts %}
        <div class="post">
            <h3>{{ post.title }}</h3>
            <p>{{ post.category }} by {{ post.author }}</p>
            <p>Published: {{ post.created_at|date:"F j, Y" }} </p>
            {% if post.updated_at %}
                <p>Modified: {{ post.updated_at|date:"F j, Y" }}</p>
            {% endif %}
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }} image">
            {% endif %}
            <p>{{ post.content|slice:":200" }}</p>
        </div>
    {% endfor %}
{% endblock%}
